<blockquote class="quote">
         <p class="quote__text"> Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Consectetur accusamus
               quia ad laborum reiciendis quidem repellat
                ab animi expedita delectus odio eligendi vitae
                 commodi, harum dolor deserunt, fuga sed quos.
        </p>
        <footer>
            <div class="media">
                <div class="media__image"> 
                    <svg class="icon icon--primary quote__line">
                     <use xlink:href="images/sprite.svg#line"></use>
                </svg>  
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">Alan Company
                </p>
         </div>
     </div>
        </footer>
     </blockquote>